/* .nav{
    display: flex;
    background-color: #1b3b6e ;
    color: white;
    height: 90px;
    justify-content: space-between;
    align-items: center;
  

}

.links{
    list-style: none;
    display: flex;
      margin-left: 10%;
}

.links li{
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 1.2em;
} */